body {
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  color: #102959;
}
header {
  background-image: url(/img/1/bg-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 24px;
  padding-bottom: 10px;
}
header .container {
}
.container {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}
.header__top {
  position: absolute;
  right: 0;
  text-align: right;
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.header__top a {
  color: #102959;
  font-size: 14px;
  text-decoration: none;
  font-weight: 900;
}
.header__top a:hover {
  text-decoration: underline;
}
.header__text-wrapper {
  color: #fff;
  background-color: rgba(16, 41, 89, 0.9);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 140px;
}
h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 900;
  font-size: 60px;
  padding-top: 75px;
  padding-bottom: 50px;
}
h2 {
  font-size: 26px;
  font-family: "Conv_HussarBold";
  text-transform: uppercase;
}
.header__subtitle {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
  padding-top: 45px;
  padding-bottom: 70px;
  max-width: 965px;
  width: 100%;
  margin: 0 auto;
}
.profile {
  position: relative;
  background-image: url(/img/1/kon1-final.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto;
}
.profile__wrapper {
  font-family: "Libre Baskerville", serif;
  display: flex;
}
.profile__text-wrapper {
  background-color: #e1e1e1;
  max-width: 320px;
  width: 100%;
  padding: 20px;
}
.profile__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 1.35;
  font-size: 40px;
}
.profile__text {
  color: #000;
  line-height: 1.3;
  font-size: 18px;
  padding: 20px 0px;
}
.profile__logo {
  padding-top: 150px;
  max-width: 590px;
}
.profile__logo img {
  width: 100%;
}

.ball,
.locator {
  background-color: #102959;
}

.title__text-white {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  text-align: center;
  font-size: 38px;
  padding-top: 85px;
  padding-bottom: 100px;
  color: #fff;
}
.card__img img {
  height: 200px;
  transition: 0.5s;
}
.card__img9 img {
  padding-top: 25px;
  height: 180px;
  transition: 0.5s;
}
.card__img img:hover {
  transform: scale(2);
}
.card__img9 img:hover {
  transform: scale(1.7);
}
.card__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
  margin: 0 auto;
}
.card__inner {
  width: 250px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__name {
  font-size: 20px;
  color: #a6a6a6;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  max-width: 225px;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 35px;
}
.items__description {
  max-width: 305px;
  width: 100%;
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 1.3;
}
.card__price-w {
  color: #fff;
  font-family: "Conv_HussarBold";
  position: relative;
  font-size: 25px;
}
.card__price-w:before {
  position: absolute;
  left: 25%;
  top: 25%;
  content: "";
  height: 3px;
  width: 40px;
  background-color: #ef0000;
  transform: rotate(-40deg);
}
.price__adapt1,
.price__adapt2,
.price__adapt3,
.price__adapt4,
.price__adapt5,
.price__adapt6,
.price__adapt7,
.price__adapt8,
.price__adapt9,
.price__adapt10,
.price__adapt11,
.price__adapt12 {
  display: none;
  color: #ef0000;
}
.card__price {
  left: 54px;
  top: -33px;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 25px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 5px solid #ffde59;
  background-color: #ffde59;
  margin: 0 auto;
}
.card__price span {
  padding-top: 5px;
  padding-left: 3px;
}
.title__text-blue {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-size: 38px;
  text-align: center;
  padding: 70px 0px;
}
.cards__right-wrapper,
.cards__left-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}
.price__blue {
  position: absolute;

  text-align: center;
  font-family: "Conv_HussarBold";
  position: relative;
  font-size: 25px;
}
.blue {
  color: #102959;
}
.price__blue:before {
  position: absolute;
  left: 48%;
  top: 25%;
  content: "";
  height: 3px;
  width: 40px;
  background-color: #ef0000;
  transform: rotate(-40deg);
}
.price__blue-top:before {
  position: absolute;
  left: 30%;
  top: 10%;
  content: "";
  height: 3px;
  width: 40px;
  background-color: #ef0000;
  transform: rotate(-43deg);
}
.card__price-red {
  position: absolute;
  display: flex;
  top: -150%;
  right: 33%;
  height: 35px;
  width: 35px;
  color: #fff;
  background-color: #ef0000;
  border-radius: 50%;
  border: 5px solid #ef0000;
  text-align: center;
}
.card__price-red span {
  padding-top: 6px;
  padding-right: 1px;
}
.antirotational__text {
  font-family: "Libre Baskerville", serif;
  line-height: 1.5;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  max-width: 515px;
  width: 100%;
  padding-bottom: 65px;
}
.card__name-top {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  text-align: center;
}
.card__description {
  text-align: center;
  width: 85%;
  font-size: 15px;
  line-height: 1.2;
  padding-top: 50px;
}
.price__wrapper {
  position: relative;
}

.c3 {
  display: none;
}
.price__blue-top {
  position: absolute;
  font-family: "Conv_HussarBold", serif;
  font-size: 25px;
  top: -160px;
  left: 45%;
}
.card__price-red-top {
  position: relative;
  display: flex;
  top: -70px;
  right: -100%;
  height: 35px;
  width: 35px;
  color: #fff;
  background-color: #ef0000;
  border-radius: 50%;
  border: 5px solid #ef0000;
  text-align: center;
}
.card__price-red-top span {
  position: absolute;
  top: 8px;
  right: 2px;
}
footer {
  position: relative;
}
svg {
  position: absolute;
  top: -50;
  left: 0;
  z-index: 111;
}

.button {
  font-family: "Libre Baskerville", serif;
  font-size: 21px;
  font-weight: bold;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #102959;
  background-color: #ffde59;
  border: none;
  box-shadow: 0 9px #999;
  margin-bottom: 50px;
  margin-left: 150px;
}

.button:hover {
  background-color: #e2c44a;
}

.button:active {
  color: #ffde59;
  background-color: #102959;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  background-image: url(/img/1/Kon-2-45.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.footer__right {
  width: 510px;
  background-color: #102959;
}

.footer__right .button {
  margin-top: 150px;
  margin-bottom: 125px;
  align-items: center;
}
/* Full-width input fields */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="country"],
input[type="city"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container__form {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 300px; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: -5px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.submit__button {
  color: #fff;
  background-color: #102959;
  font-size: 20px;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.contacts__wrapper {
  display: flex;
  justify-content: space-around;
  color: #fff;
}
.socials__wrapper {
  width: 200px;
  position: absolute;
  left: -9px;
  top: 70px;
}
.cont__title {
  position: relative;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 30px;
}
.soc__ico {
  height: 30px;
  width: 30px;
  padding-right: 8px;
}
.contacts__right {
  text-align: right;
}
.cont__text {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 10px;
}
.cont__link {
  padding-bottom: 37px;
}
.cont__link a {
  text-decoration: none;
  color: #8e98aa;
}

/* modals */

.card-modal {
  text-align: center;
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 20px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.card-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;

  width: 80%;
}
.card-modal-content img {
  max-width: 900px;
  width: 100%;
  height: auto;
}
source.card9-1 {
  height: 80%;
}
/* The Close Button */
.card1-close,
.card2-close,
.card3-close,
.card4-close,
.card5-close,
.card6-close,
.card7-close,
.card8-close,
.card9-close,
.card10-close,
.card10-close,
.card11-close,
.card12-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.card1-close:hover,
.card1-close:focus,
.card2-close:hover,
.card2-close:focus,
.card3-close:hover,
.card3-close:focus,
.card4-close:hover,
.card4-close:focus,
.card5-close:hover,
.card5-close:focus,
.card6-close:hover,
.card6-close:focus,
.card7-close:hover,
.card8-close:focus,
.card8-close:hover,
.card9-close:hover,
.card9-close:focus,
.card10-close:hover,
.card10-close:focus,
.card11-close:hover,
.card11-close:focus,
.card12-close:hover,
.card12-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #102959;
  width: 0%;
}

@media (max-width: 1136px) {
  .header__top {
    right: 30%;
  }
  .profile__logo {
    padding-top: 20px;
  }
  .profile__text {
    padding: 10px 0;
  }
  .profile {
    background-size: contain;
  }
}
@media (max-width: 1080px) {
  .footer__wrapper {
    background-size: auto;
  }
}
@media (max-width: 999px) {
  .price__blue {
    top: -150px;
  }
  .cards__left {
    padding-bottom: 30px;
  }
}
@media (max-width: 910px) {
  .header__subtitle {
    width: 80%;
  }
  .profile {
    background: none;
  }
  .profile__title {
    text-align: center;
  }
  .profile__text-wrapper {
    max-width: 100%;
    padding: 0;
  }
  .profile__text {
    padding-right: 15px;
    padding-left: 15px;
  }
  .profile__logo {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .profile__wrapper {
    flex-direction: column-reverse;
  }
  .items__description {
    padding: 30px 0;
  }
}
@media (max-width: 830px) {
  .header__top {
    right: 20%;
  }
  .footer__wrapper {
    background-image: none;
  }
  .footer__right {
    width: 100%;
  }
  .footer__right .button {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .make__order {
    text-align: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
  }
}

@media (max-width: 806px) {
  .card__wrapper {
    max-width: 350px;
    width: 100%;
  }
  .title__text-white {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .title__text-blue {
    width: 70%;
    margin: 0 auto;
  }
  .items__description {
    padding: 30px 0;
  }
  .card__price-w,
  .price__wrapper,
  .price__blue {
    display: none;
  }
  .price__adapt1,
  .price__adapt2,
  .price__adapt3,
  .price__adapt4,
  .price__adapt5,
  .price__adapt6,
  .price__adapt7,
  .price__adapt8,
  .price__adapt9,
  .price__adapt10,
  .price__adapt11,
  .price__adapt12 {
    font-family: "Conv_HussarBold";
    font-size: 25px;
    display: flex;
    position: absolute;
    top: 40%;
    right: 15%;
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .price__adapt1:after,
  .price__adapt2:after,
  .price__adapt3:after,
  .price__adapt4:after,
  .price__adapt5:after,
  .price__adapt6:after,
  .price__adapt7:after,
  .price__adapt8:after,
  .price__adapt9:after,
  .price__adapt10:after,
  .price__adapt11:after,
  .price__adapt12:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 40px;
    left: 26%;
    top: 21%;
    transform: rotate(-40deg);
    background-color: #ef0000;
  }
  span p {
    padding-top: 9px;
  }
  .price__adapt1,
  .price__adapt2,
  .price__adapt7,
  .price__adapt8 {
    color: #fff;
  }
  .price__adapt3,
  .price__adapt4,
  .price__adapt5,
  .price__adapt6,
  .price__adapt9,
  .price__adapt10,
  .price__adapt11,
  .price__adapt12 {
    color: #102959;
  }
  .price__adapt1 span,
  .price__adapt2 span,
  .price__adapt7 span,
  .price__adapt8 span {
    position: absolute;
    bottom: 39px;
    left: 50px;
    height: 40px;
    width: 40px;
    background-color: #ffde59;
    border-radius: 50%;
    color: #102959;
  }
  .price__adapt3 span,
  .price__adapt4 span,
  .price__adapt5 span,
  .price__adapt6 span,
  .price__adapt9 span,
  .price__adapt10 span,
  .price__adapt11 span,
  .price__adapt12 span {
    color: #fff;
    background-color: red;
    position: absolute;
    bottom: 39px;
    left: 50px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}
@media (max-width: 656px) {
  .header__top {
    right: 16%;
  }
}
@media (max-width: 560px) {
  .header__top {
    right: 10%;
  }
  .title__text-white,
  .profile__title,
  .title__text-blue {
    font-size: 32px;
  }
  .cont__title {
    font-size: 32px;
  }
}
